@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');


body {

  margin: 0;
  font-family:'Cedarville Cursive';
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
