@tailwind base;
@tailwind components;
@tailwind utilities;

circle {
  transform-box: fill-box;
  transform-origin: center;
}
text {
  transform-box: fill-box;
  transform-origin: center;
}
html,
body {
  overflow: hidden;
}
